<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - TicTacToe with SignalR</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/themes/base/css", "~/Content/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/signalrinclude")
        @Scripts.Render("~/signalr/hubs")
    </head>
    <body>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                <div id="notification-panel" class="green">
                    <a id="notifcation-message" href="javascript:void(0);"></a>   
                </div>
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left" style="text-align:right;">
                    <a href="http://alexpeta.ro" title="Alex Peta">
                        <img src="~/Content/logo_black_117x117.png" border="0" style="width:50%;height:50%;margin-right:10px;" />
                    </a>
                </div>
                <div class="float-right">
                    <p>&copy; @DateTime.Now.Year - <a href="http://alexpeta.ro" title="Alex Peta">by Alex Peta</a></p>
                </div>
            </div>
        </footer>
        @RenderSection("scripts", required: false)

    </body>
</html>
